body{
    background-color: rgb(180, 180, 180);
    font-family: 'Lobster Two', cursive;
    
}
body .container{
    box-shadow: rgb(0, 0, 0, .5) 5px 5px 5px;
}
.hal1tentang h1{
    margin-left: 50px;
    font-size: 80px;
}


.home-1 img.depan{
    border: solid 20px white;
}

.home-1 img.tentang{
    margin-top: 80px;
}
.slide-2{
    background-color: rgb(235, 235, 235);
}

.gambar{
    border: solid white 10px;
    background-color:white;
    box-shadow: rgb(168, 168, 168) 0px 0px 15px;
    margin-bottom: 10px;
    height: 250px;
    border-radius: 5%;
}
.gambarmenu{
    border: solid white 10px;
    background-color:white;
    box-shadow: rgb(168, 168, 168) 0px 0px 15px;
    margin-bottom: 10px;
    height: 200px;
    border-radius: 5%;
}
.hal1 .penjelasan1{

}
.carousel-control-prev .carousel-control-prev-icon{
    height: 40px;
    width: 20px;
    border-radius: 20%;
    background-color: rgb(0, 0, 0 ,.5);
    margin-left: -50px;
}

.carousel-control-next-icon {
    height: 40px;
    width: 20px;
    border-radius: 20%;
    background-color: rgb(0, 0, 0 ,.5);
    margin-left: 50px;
}
.gambartentang{
    border: solid white 10px;
}

.carousel-control-next-icon {
    height: 40px;
    width: 20px;
    border-radius: 20%;
    background-color: rgb(0, 0, 0 ,.5);
    margin-left: 50px;
}
.penawaran{
    margin-left: 50px;
}

.motto{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.review{
    width: 800px;
    background-color: #dd9620;
    height: 200px;
    align-items: center;
}
.review h3{
    position: relative;
    left: 50px;
}
.review img{
    position: relative;
    left: 50px;
    border: none;
}

.roboto h1,h2,h3,h4,h5{
    font-family: 'Roboto Slab', serif;
}